# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Gitignore for Flutter projects
#
# Compiled dart files
.dart_tool/
.idea/
.flutter-plugins-dependencies
.flutter-plugins
.packages
.vs/
.vscode/

# Build artifacts
/build/
/ios/.symlinks/
/android/.gradle/
/android/app/build/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/flutter_export_environment.sh
/ios/Runner.xcworkspace/
/ios/Pods/
/ios/.flutter-plugins
/ios/.flutter-plugins-dependencies

# Android-specific files
android/key.properties
android/local.properties
android/app/.cxx/
android/app/src/main/assets/flutter_assets/
android/app/src/main/assets/flutter_assets/kernel_blob.bin
android/app/src/main/assets/flutter_assets/AssetManifest.json
android/app/src/main/assets/flutter_assets/FontManifest.json
android/app/src/main/assets/flutter_assets/NOTICES

# Autogenerated files by IDEs
.DS_Store
*.iml
*.iws
*.ipr

# Keystore files
*.jks
*.p12

# Other
# Exclude `.env` files from being committed to Git
.env
.env.*